<!--Header-->
<%- include('partials/header.ejs'); %> 

<!--Content-->
    <h1>Compose</h1>
    <form action="/compose" method="post">
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" name="postTitle">
        </div>

        <div class="form-group">
            <label >Post</label>
            <textarea class="form-control" rows="5" cols="30" name="postContent"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Publish</button>
    </form>





<!--Footer-->
<%- include('partials/footer.ejs'); %> 